@import "tailwindcss";
@plugin "daisyui";

@theme {
    --breakpoint-mh: 600px;
}

:root {
    font-family: "Arima";
    --easing: cubic-bezier(0.15, 0.1, 0.15, 0.95);
    --snappy-animation: 300ms;
    --quick-animation: 1000ms;
    --realistic-animation: 2000ms
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: white;
}



h1,
h2,
h3,
h4,
h5 {
    color: hsla(45, 90%, 51%, 0.9) !important;
    /* text-shadow: 0px 0px 2px hsla(50, 90%, 10%, 0.7); */
    text-rendering: optimizeLegibility;
    text-decoration: underline;
    font-family: "Caesar Dressing", "serif" !important;
    font-display: swap;
}



section:not(:first-child) {
    margin: 64px 0px;
    scroll-snap-align: start;
}


@media (max-width:768px) {
    :root {
        font-size: 18px;
    }
}

.bg-image {
    pointer-events: none;
}

#section-1 {
    view-timeline-name: --section-one-view-progress;
}

@layer monument {
    body::before {
        content: "";
        position: fixed;
        inset: 0px;
        z-index: -1;
        background: url('/home/gate.png');
        background-attachment: fixed;
        background-position: 50% 10%;
        background-size: auto 80%;
        background-repeat: no-repeat;
        /* will-change: transform; */
        transform-origin: center;
        /* animation: zoom-out 1500ms forwards 0s ease-in-out; */
    }

    @keyframes zoom-out {}

    @media screen and (min-width: 1024px) {

        @keyframes zoom-out {}
    }
}

@layer hero-cta {

    #hero-cta {
        position: absolute;
        z-index: 10;
        bottom: -10px;
        right: -5%;
        width: 300px;
        height: 130px;
        background-image: url('/home/notice-board.png');
        background-size: 100% 100%;
        background-position: center;
        transform-origin: center;
        transform: translateX(100%);
        animation: slide-in-from-right 5000ms var(--easing) 3500ms 1 forwards;
    }

    @keyframes slide-in-from-right {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-0%);
        }
    }
}

#angle,
#devil {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all;
    transition-duration: 500ms;
}


@layer angle {
    #angle {
        width: 600px;
        height: 680px;
        z-index: 5;
        background-image: url('/home/angle.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        /* transform-style: preserve-3d; */
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-50%) translateY(25%) scale(.35);
        animation: move-in-from-left var(--realistic-animation) var(--easing) 2000ms 1 forwards;
    }

    @keyframes move-in-from-left {
        from {
            transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-50%) translateY(28%) scale(.55);
        }

        to {
            transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-21%) translateY(25%) scale(.35);
        }
    }

    @media screen and (min-width:1024px) {
        #angle {
            opacity: 0;
            transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-80%) translateY(28%) scale(.60);
        }

        @keyframes move-in-from-left {
            from {
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-80%) translateY(28%) scale(.60);
            }

            to {
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-70%) translateY(27%) scale(.55);
            }
        }
    }
}

@layer devil {
    #devil {
        width: 800px;
        height: 680px;
        z-index: 5;
        background-image: url('/home/devil.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        /* transform-style: preserve-3d; */
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(45%) translateY(24%) scale(.35);
        animation: move-in-from-right var(--realistic-animation) var(--easing) 2000ms 1 forwards;
    }

    @keyframes move-in-from-right {
        from {
            opacity: 0;
            transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(45%) translateY(24%) scale(.55);
        }

        to {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(16%) translateY(24%) scale(.35);
        }
    }

    @media screen and (min-width:1024px) {
        @keyframes move-in-from-right {
            from {
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(65%) translateY(31%) scale(.60);
            }

            to {
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(50%) translateY(27%) scale(.55);
            }
        }
    }
}

#section-1 h1 {
    animation: fade-in 1000ms ease-out 3000ms 1 forwards;
}

#section-1>div>div>p {
    animation: fade-in 1000ms ease-out 4000ms 1 forwards;
}

@keyframes fade-in {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(-0%);
        opacity: 1;
    }
}

@keyframes fade-in-up {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(-0%);
        opacity: 1;
    }
}

#section-2 {
    view-timeline-name: --section-2-view-progress;
}


#services_section_figure {
    border: 2px solid red;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80vh;
    width: 45vw;
    z-index: 5;
    background: url('/home/female-figure-1.png');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    overflow: hidden;
    animation: slide-in-from-left both;
    animation-timeline: --section-2-view-progress;
    animation-range: 10% 50%;
}

@keyframes slide-in-from-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

#examples_section_figure {
    position: absolute;
    inset: 0;
    z-index: 5;
    background: url('/home/soldier.png');
    background-position: 120px 140px;
    background-size: auto 80%;
    background-repeat: no-repeat;
    pointer-events: none;
}

#contact_section_figure {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: url('/home/creation-of-love.png');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    pointer-events: none;
}

@media screen and (min-width:600px) {
    #angle {
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-42%) translateY(13%) scale(.3);
    }

    #devil {
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(32%) translateY(13%) scale(.3);
    }

    #services_section_figure {
        background-size: auto 1024px;
        background-position: 0px -40px;
    }

    #examples_section_figure {
        background-size: auto 512px;
        background-position: 500px -10px;
    }

    #contact_section_figure {
        background-size: auto 100%;
        background-position: 100% 10%;
    }
}

@media screen and (min-width:1024px) {
    #angle {
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(-28%) translateY(25%) scale(.7);
    }

    #devil {
        transform: translateX(-50%) translateY(-50%) translateZ(-0px) translateX(45%) translateY(25%) scale(.69);
    }
}